# Week 3

In [2]:
#import libraries
import pandas as pd

## import and explore census data to figure out which columns to keep

In [3]:
pop_df = pd.read_csv('./data/PEP_2017_PEPAGESEX.csv', skiprows=1)

## subset out required columns

In [4]:
#isolate all the columns from the dataframe
pop_cols = pop_df.columns

#make a mask to pick out all the 'April estimate' values using regexes
april_mask = pop_cols.str.contains('April.*?estimate', case=False)

#subset out everything but all the April estimate values
noest = pop_cols[~april_mask]
print(noest)

Index(['Id', 'Id2', 'Geography', 'April 1, 2010 - Census - Both Sexes; Total',
       'April 1, 2010 - Census - Male; Total',
       'April 1, 2010 - Census - Female; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Male; Total',
       'Population Estimate (as of July 1) - 2010 - Female; Total',
       'Population Estimate (as of July 1) - 2011 - Both Sexes; Total',
       ...
       'Population Estimate (as of July 1) - 2014 - Females; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Female; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Female; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Female; Median age (years)'],
      dtype='object', length=894)

In [5]:
#pick out all the old people using a regex and subset
old_mask = noest.str.contains('July.*?201[047].*?Both.*?[5-9][0-9] to|July.*?201[047].*?Both.*?Total.*?85 years and')
old_people_columns = noest[old_mask]
old_people_columns

Index(['Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over'],
      dtype='object')

In [6]:
#write a regex that pulls out all of the other stuff we need and subset
odd_mask = noest.str.contains('Geography|July.*?201[047].*?Both.*?Total$|July.*?201[047].*?both.*?median', case=False)
misc_columns = noest[odd_mask]

In [7]:
#convert to lists (so we can combine the series we made) and combine them into one data structure
req_cols = list(misc_columns) + list(old_people_columns)

In [8]:
#subset df by the data structure we created
subset_pop_df = pop_df.loc[:,req_cols]
subset_pop_df.shape

(95, 31)

## rename columns

In [9]:
subset_pop_df.columns
new_col_lables = ['county', 'pop2010all', 'pop2014all', 'pop2017all', 'median_age_2010', 'median_age_2014', 'median_age_2017', 'pop2010_50to54','pop2014_50to54', 'pop2017_50to54', 'pop2010_55to59', 'pop2014_55to59', 'pop2017_55to59', 'pop2010_60to64', 'pop2014_60to64', 'pop2017_60to64',
    'pop2010_65to69', 'pop2014_65to69', 'pop2017_65to69', 'pop2010_70to74', 'pop2014_70to74', 'pop2017_70to74', 'pop2010_75to79', 'pop2014_75to79', 'pop2017_75to79', 'pop2010_80to84', 'pop2014_80to84', 'pop2017_80to84',
    'pop2010_85over', 'pop2014_85over', 'pop2017_85over']

subset_pop_df.columns = new_col_lables
subset_pop_df.head()

,county,pop2010all,pop2014all,pop2017all,median_age_2010,median_age_2014,median_age_2017,pop2010_50to54,pop2014_50to54,pop2017_50to54,...,pop2017_70to74,pop2010_75to79,pop2014_75to79,pop2017_75to79,pop2010_80to84,pop2014_80to84,pop2017_80to84,pop2010_85over,pop2014_85over,pop2017_85over
0,"Anderson County, Tennessee",75112,75131,76257,42.6,43.3,43.2,5850,5690,5296,...,3765,2276,2327,2501,1969,1779,1785,2135,2211,2173
1,"Bedford County, Tennessee",45086,46259,48117,36.5,37.2,37.5,3043,3207,3239,...,1988,992,1156,1321,756,729,811,647,679,640
2,"Benton County, Tennessee",16511,16176,15986,45.6,46.7,47.4,1259,1204,1179,...,1075,562,681,717,414,399,418,362,409,415
3,"Bledsoe County, Tennessee",12882,14419,14717,42.5,43.3,43.9,1005,1216,1185,...,732,344,421,510,234,275,267,178,209,264
4,"Blount County, Tennessee",123213,125827,129929,41.5,43.1,43.8,9152,9658,9522,...,6808,3468,4074,4663,2550,2591,2939,2390,2656,2786

## import cancer and hospice dfs

In [13]:
#import hospice data, restrict to TN, limit columns, and reformat
hospice = pd.read_csv('./data/Hospice_General_Information.csv')

tn_hospice = hospice[hospice['State'] == 'TN']


tn_hospice = tn_hospice[['Facility Name', 'Address Line 1', 'City', 'State', 
                                     'County Name', 'CMS Region', 'Ownership Type', 'Certification Date']]

tn_hospice.columns = tn_hospice.columns.str.lower()
tn_hospice.head()

,facility name,address line 1,city,state,county name,cms region,ownership type,certification date
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984
2891,HOSPICE OF CHATTANOOGA INC,4411 OAKWOOD DRIVE,CHATTANOOGA,TN,Hamilton,4,Non-Profit,06/30/1986
2892,AMEDISYS HOSPICE CARE,6570 STAGE ROAD SUITE 110,BARTLETT,TN,Shelby,4,For-Profit,02/09/1987
2893,NORTHCREST HOME HEALTH AND HOSPICE,212 NORTHCREST DRIVE,SPRINGFIELD,TN,Robertson,4,Other,07/13/1987

In [60]:
#import cancer df, reformat columns
cancer_df = pd.read_csv('./data/cancer_deaths.csv', skiprows=4, skipfooter=14, engine='python')

cancer_df_cols = ['county', 'fips', 'met_obj', 'deaths_per_100k', 'dr_ci_lower',
                 'dr_ci_upper', 'av_ann_count', 'recent_trend', 'death_rate_trend',
                 'trend_ci_lower', 'trend_ci_upper']
cancer_df.columns = cancer_df_cols
cancer_df.head()

,county,fips,met_obj,deaths_per_100k,dr_ci_lower,dr_ci_upper,av_ann_count,recent_trend,death_rate_trend,trend_ci_lower,trend_ci_upper
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

# merge pop_df and cancer_df

In [61]:
#reformat cancer_df's county coulmn to match hospices's country to merge
cancer_df = cancer_df.loc[cancer_df['county'].str.contains('County')]
cancer_df['county'] = cancer_df['county'].replace(to_replace=r'.County', value='', regex=True)
cancer_df.head()

,county,fips,met_obj,deaths_per_100k,dr_ci_lower,dr_ci_upper,av_ann_count,recent_trend,death_rate_trend,trend_ci_lower,trend_ci_upper
2,Trousdale,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3
5,Claiborne,47025,No,237.3,216.4,259.8,100,stable,-0.1,-0.7,0.4
6,Hancock,47067,No,236.2,193.1,287.1,22,stable,0.4,-0.8,1.6

In [58]:
#reformat census data to match hospicses's county to merge
subset_pop_df['county'] = subset_pop_df['county'].replace(to_replace=r'.County.*?$', value='', regex=True)
subset_pop_df.head()

,county,pop2010all,pop2014all,pop2017all,median_age_2010,median_age_2014,median_age_2017,pop2010_50to54,pop2014_50to54,pop2017_50to54,...,pop2017_70to74,pop2010_75to79,pop2014_75to79,pop2017_75to79,pop2010_80to84,pop2014_80to84,pop2017_80to84,pop2010_85over,pop2014_85over,pop2017_85over
0,Anderson,75112,75131,76257,42.6,43.3,43.2,5850,5690,5296,...,3765,2276,2327,2501,1969,1779,1785,2135,2211,2173
1,Bedford,45086,46259,48117,36.5,37.2,37.5,3043,3207,3239,...,1988,992,1156,1321,756,729,811,647,679,640
2,Benton,16511,16176,15986,45.6,46.7,47.4,1259,1204,1179,...,1075,562,681,717,414,399,418,362,409,415
3,Bledsoe,12882,14419,14717,42.5,43.3,43.9,1005,1216,1185,...,732,344,421,510,234,275,267,178,209,264
4,Blount,123213,125827,129929,41.5,43.1,43.8,9152,9658,9522,...,6808,3468,4074,4663,2550,2591,2939,2390,2656,2786

In [93]:
#outer merge
pop_cancer_df = cancer_df.merge(subset_pop_df, how='outer', on='county')

## count hospice per county and add to pop_cancer_df

In [95]:
#count hospices and add counties that lack hospices
hospice_counts = tn_hospice['county name'].value_counts().to_dict()
no_hospice_counties = {county:0 for county in pop_cancer_df['county'] if county not in hospice_counts.keys()}
hospice_counts.update(no_hospice_counties)
hospice_counts

{'Davidson': 8,
 'Knox': 5,
 'Shelby': 5,
 'Hamilton': 5,
 'Carroll': 2,
 'Williamson': 2,
 'Madison': 2,
 'Robertson': 2,
 'Bradley': 2,
 'Washington': 2,
 'Carter': 1,
 'McMinn': 1,
 'Rutherford': 1,
 'Cumberland': 1,
 'Putnam': 1,
 'Sumner': 1,
 'Blount': 1,
 'Montgomery': 1,
 'Coffee': 1,
 'Claiborne': 1,
 'Obion': 1,
 'Lincoln': 1,
 'Fayette': 1,
 'Cocke': 1,
 'Sullivan': 1,
 'Perry': 1,
 'Fentress': 1,
 'Henry': 1,
 'Wayne': 1,
 'Hancock': 1,
 'Hamblen': 1,
 'Trousdale': 0,
 'Scott': 0,
 'Cheatham': 0,
 'Union': 0,
 'Benton': 0,
 'Houston': 0,
 'Sequatchie': 0,
 'Grainger': 0,
 'Lake': 0,
 'Campbell': 0,
 'Stewart': 0,
 'Overton': 0,
 'Marion': 0,
 'White': 0,
 'Johnson': 0,
 'Meigs': 0,
 'Humphreys': 0,
 'Macon': 0,
 'Grundy': 0,
 'Tipton': 0,
 'Polk': 0,
 'Clay': 0,
 'Decatur': 0,
 'Henderson': 0,
 'Lauderdale': 0,
 'McNairy': 0,
 'Marshall': 0,
 'Lewis': 0,
 'Cannon': 0,
 'Gibson': 0,
 'Dickson': 0,
 'Hickman': 0,
 'Warren': 0,
 'Unicoi': 0,
 'Hawkins': 0,
 'Hardeman': 0,
 'Rhea': 0,
 'Giles': 0,
 'Smith': 0,
 'Monroe': 0,
 'Hardin': 0,
 'Jackson': 0,
 'Haywood': 0,
 'Lawrence': 0,
 'Weakley': 0,
 'Sevier': 0,
 'Greene': 0,
 'Roane': 0,
 'Franklin': 0,
 'Dyer': 0,
 'Bedford': 0,
 'Maury': 0,
 'Morgan': 0,
 'Anderson': 0,
 'DeKalb': 0,
 'Chester': 0,
 'Loudon': 0,
 'Wilson': 0,
 'Bledsoe': 0,
 'Jefferson': 0,
 'Crockett': 0,
 'Van Buren': 0,
 'Pickett': 0,
 'Moore': 0}

In [103]:
#convert to series and add to pop_cancer_df
s_hospice_counts = pd.Series(hospice_counts, name='county')
pop_cancer_hospice_df = pop_cancer_df.set_index('county')
pop_cancer_hospice_df['hospice_count'] = s_hospice_counts
pop_cancer_hospice_df['hospice_count']

county
Trousdale     0
Scott         0
Cheatham      0
Claiborne     1
Hancock       1
Union         0
Benton        0
Houston       0
Sequatchie    0
Cocke         1
Grainger      0
Carroll       2
Lake          0
Campbell      0
Stewart       0
Overton       0
Marion        0
White         0
Perry         1
Johnson       0
Meigs         0
Obion         1
Humphreys     0
Macon         0
Fentress      1
Grundy        0
Tipton        0
Polk          0
Clay          0
Decatur       0
             ..
Franklin      0
Bradley       2
Dyer          0
Bedford       0
Sullivan      1
Maury         0
Lincoln       1
Morgan        0
Anderson      0
Washington    2
DeKalb        0
Chester       0
Knox          5
Carter        1
Cumberland    1
Loudon        0
Hamilton      5
Madison       2
Wilson        0
Rutherford    1
Bledsoe       0
Jefferson     0
Blount        1
Crockett      0
Sumner        1
Van Buren     0
Pickett       0
Fayette       1
Williamson    2
Moore         0
Name: hospice_count, Length: 95, dtype: int64

In [111]:
#rename df for convinience going forward
pch_df = pop_cancer_hospice_df
pch_df

,fips,met_obj,deaths_per_100k,dr_ci_lower,dr_ci_upper,av_ann_count,recent_trend,death_rate_trend,trend_ci_lower,trend_ci_upper,...,pop2010_75to79,pop2014_75to79,pop2017_75to79,pop2010_80to84,pop2014_80to84,pop2017_80to84,pop2010_85over,pop2014_85over,pop2017_85over,hospice_count
county,,,,,,,,,,,,,,,,,,,,,
Trousdale,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3,...,194,222,254,128,135,146,127,132,129,0
Scott,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1,...,525,593,698,369,366,373,327,335,356,0
Cheatham,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3,...,742,904,963,503,530,594,360,395,461,0
Claiborne,47025,No,237.3,216.4,259.8,100,stable,-0.1,-0.7,0.4,...,943,1060,1124,567,671,740,517,508,529,1
Hancock,47067,No,236.2,193.1,287.1,22,stable,0.4,-0.8,1.6,...,217,241,233,138,152,161,126,129,122,1
Union,47173,No,234.2,206.1,265.3,53,stable,-0.5,-1.2,0.2,...,448,526,650,291,313,348,223,265,321,0
Benton,47005,No,233.9,207.1,263.6,59,stable,0.3,-0.4,1.1,...,562,681,717,414,399,418,362,409,415,0
Houston,47083,No,227.4,188.9,272.1,26,stable,0.4,-0.6,1.3,...,279,287,329,200,193,184,163,174,189,0
Sequatchie,47153,No,224.3,194.3,257.9,43,rising,1.3,0.3,2.3,...,346,472,542,239,270,288,221,254,281,0
Cocke,47029,No,222.1,203.5,242.2,110,stable,-0.5,-1.0,0.0,...,1118,1209,1348,698,791,847,549,570,621,1
Grainger,47057,No,222.0,197.9,248.4,66,stable,0.1,-0.7,1.0,...,643,774,917,430,456,474,272,334,346,0
Carroll,47017,No,221.8,201.2,244.1,89,stable,-0.2,-0.7,0.2,...,968,987,994,695,674,691,669,661,670,2
Lake,47095,No,220.4,178.3,270.1,19,stable,-0.3,-1.4,0.8,...,217,208,212,123,148,155,131,122,142,0
Campbell,47013,No,219.2,201.8,237.7,124,stable,-0.4,-0.8,0.0,...,1304,1481,1564,817,913,967,706,741,819,0
Stewart,47161,No,218.2,188.3,252.0,40,stable,0.1,-1.2,1.4,...,421,421,494,254,284,289,221,259,262,0
Overton,47133,No,217.0,193.8,242.4,67,stable,-0.3,-1.1,0.5,...,682,803,831,457,458,538,341,384,396,0
Marion,47115,No,216.7,195.8,239.4,83,stable,-0.4,-1.1,0.3,...,846,874,1029,548,622,644,409,470,508,0
White,47185,No,216.3,195.1,239.4,79,stable,-0.6,-1.3,0.0,...,858,872,952,588,630,646,532,566,623,0
Perry,47135,No,216.0,178.5,259.9,25,stable,0.0,-1.4,1.5,...,290,273,313,198,217,186,133,162,198,1
Johnson,47091,No,215.8,190.6,243.8,55,stable,0.1,-0.8,1.1,...,566,650,756,373,393,445,347,372,414,0
Meigs,47121,No,214.3,181.7,251.5,34,stable,0.5,-0.8,1.9,...,320,336,442,202,227,248,156,167,180,0
Obion,47131,No,214.1,194.6,235.2,92,stable,0.0,-0.5,0.6,...,988,1043,1138,670,703,728,659,639,677,1
Humphreys,47085,No,212.3,187.3,240.1,54,stable,-0.2,-0.9,0.5,...,578,651,707,430,413,435,318,357,385,0
Macon,47111,No,211.5,187.3,238.1,57,stable,-0.2,-0.7,0.4,...,579,591,640,376,441,440,341,319,330,0
Fentress,47049,No,211.1,185.3,239.8,52,stable,-0.5,-1.2,0.3,...,528,609,733,322,338,380,274,309,288,1
Grundy,47061,No,210.7,181.5,243.6,40,stable,0.5,-0.6,1.6,...,418,500,525,265,305,333,261,243,251,0
Tipton,47167,No,210.6,194.5,227.6,134,stable,-0.2,-0.8,0.3,...,1264,1400,1514,779,954,980,627,739,806,0
Polk,47139,No,209.5,183.6,238.4,50,stable,-0.8,-1.9,0.3,...,526,585,644,339,352,428,261,308,328,0
Clay,47027,No,209.1,174.1,250.3,26,stable,-1.0,-2.0,0.0,...,281,334,386,180,203,215,153,175,190,0
Decatur,47039,No,208.7,179.4,242.1,39,stable,-0.2,-1.2,0.8,...,431,445,513,313,330,331,316,331,342,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Franklin,47051,No,184.1,168.4,201.0,105,falling,-0.8,-1.3,-0.2,...,1393,1412,1521,879,991,964,832,811,886,0
Bradley,47011,No,183.0,172.2,194.3,220,falling,-1.0,-1.4,-0.5,...,2625,2968,3303,1752,1955,2118,1446,1714,1872,2
Dyer,47045,No,182.9,165.7,201.4,86,falling,-0.6,-1.1,-0.1,...,1000,1112,1102,731,739,794,631,703,692,0
Bedford,47003,No,182.7,166.1,200.6,92,falling,-0.7,-1.4,-0.1,...,992,1156,1321,756,729,811,647,679,640,0
Sullivan,47163,No,181.4,173.6,189.5,425,falling,-0.7,-1.1,-0.4,...,5288,5762,6397,4171,4004,4256,3582,3835,3966,1
Maury,47119,No,181.1,169.1,193.7,178,falling,-1.0,-1.6,-0.5,...,1945,2179,2477,1473,1502,1495,1237,1437,1536,0
Lincoln,47103,No,181.0,163.6,200.0,82,falling,-1.0,-1.6,-0.3,...,1042,1183,1213,717,754,863,615,640,662,1
Morgan,47129,No,180.7,158.0,206.0,48,stable,-0.8,-1.7,0.0,...,576,621,705,348,383,419,280,313,343,0
Anderson,47001,No,180.6,169.1,192.7,195,falling,-0.7,-1.2,-0.2,...,2276,2327,2501,1969,1779,1785,2135,2211,2173,0
Washington,47179,No,180.5,171.1,190.3,284,falling,-1.2,-1.6,-0.8,...,3417,3703,4227,2503,2527,2699,2369,2466,2564,2
DeKalb,47041,No,178.8,155.4,204.9,44,stable,-0.6,-1.4,0.3,...,507,584,652,370,366,395,352,338,347,0
Chester,47023,No,178.4,153.5,206.5,38,stable,-0.4,-1.5,0.8,...,468,483,511,336,385,367,342,353,360,0
Knox,47093,No,177.4,172.1,182.8,890,falling,-1.0,-1.2,-0.8,...,10298,11114,12185,8135,7914,8187,7416,8089,8440,5
Carter,47019,No,176.2,163.4,189.9,145,falling,-1.0,-1.6,-0.4,...,1725,1992,2320,1287,1326,1434,1101,1309,1395,1
Cumberland,47035,No,174.4,162.5,187.0,182,falling,-0.8,-1.3,-0.3,...,2833,3180,3646,1871,2058,2206,1273,1588,1713,1
Loudon,47105,No,173.9,160.9,187.9,144,falling,-1.2,-1.7,-0.7,...,1859,2269,2651,1098,1348,1485,1092,1154,1319,0
Hamilton,47065,No,172.6,167.0,178.3,743,stable,0.1,-1.5,1.8,...,9230,9385,10505,7250,7308,7280,6752,7639,8226,5
Madison,47113,No,171.0,160.3,182.4,194,falling,-1.0,-1.4,-0.5,...,2331,2495,2782,1877,1832,1820,1696,1892,1989,2
Wilson,47189,No,170.5,160.4,181.0,229,falling,-2.0,-2.8,-1.2,...,2389,3079,3682,1566,1832,2178,1368,1620,1798,0
Rutherford,47149,No,170.3,162.5,178.4,380,falling,-1.4,-1.7,-1.1,...,3802,4621,5347,2619,2967,3329,2278,2756,3079,1
Bledsoe,47007,No,170.0,143.5,200.6,31,falling,-1.3,-2.3,-0.3,...,344,421,510,234,275,267,178,209,264,0
Jefferson,47089,No,169.1,155.6,183.6,121,falling,-4.0,-7.0,-1.0,...,1528,1755,2043,955,1117,1204,774,901,959,0
Blount,47009,No,168.2,159.4,177.4,283,falling,-0.9,-1.3,-0.4,...,3468,4074,4663,2550,2591,2939,2390,2656,2786,1
Crockett,47033,No,164.1,139.1,192.7,31,stable,-0.5,-1.3,0.4,...,432,486,483,298,296,343,345,360,342,0
Sumner,47165,Yes,161.2,153.0,169.6,305,falling,-2.2,-3.6,-0.8,...,3510,4223,5019,2518,2806,3061,2208,2616,2943,1
Van Buren,47175,Yes,160.3,122.7,207.4,14,stable,-0.9,-2.4,0.6,...,159,197,235,122,112,128,68,119,115,0
Pickett,47137,Yes,158.7,123.3,203.9,15,stable,-0.5,-1.8,0.9,...,231,258,249,124,153,197,102,114,121,0
Fayette,47047,Yes,154.3,139.1,170.7,81,falling,-1.4,-2.2,-0.5,...,1016,1327,1522,641,804,946,533,660,726,1
Williamson,47187,Yes,127.2,119.8,134.9,239,falling,-3.8,-4.8,-2.9,...,3044,3747,4632,2261,2638,3057,2125,2708,3161,2
Moore,47127,Yes,123.2,93.9,160.5,12,falling,-2.1,-3.8,-0.4,...,183,224,262,157,145,165,137,167,169,0

# Week 4

In [109]:
#import visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

In [114]:
#find if there are null values
pch_df.isnull().sum()

fips                0
met_obj             0
deaths_per_100k     0
dr_ci_lower         0
dr_ci_upper         0
av_ann_count        0
recent_trend        0
death_rate_trend    0
trend_ci_lower      0
trend_ci_upper      0
pop2010all          0
pop2014all          0
pop2017all          0
median_age_2010     0
median_age_2014     0
median_age_2017     0
pop2010_50to54      0
pop2014_50to54      0
pop2017_50to54      0
pop2010_55to59      0
pop2014_55to59      0
pop2017_55to59      0
pop2010_60to64      0
pop2014_60to64      0
pop2017_60to64      0
pop2010_65to69      0
pop2014_65to69      0
pop2017_65to69      0
pop2010_70to74      0
pop2014_70to74      0
pop2017_70to74      0
pop2010_75to79      0
pop2014_75to79      0
pop2017_75to79      0
pop2010_80to84      0
pop2014_80to84      0
pop2017_80to84      0
pop2010_85over      0
pop2014_85over      0
pop2017_85over      0
hospice_count       0
dtype: int64

In [116]:
#average death rate for counties in TN
pch_df['deaths_per_100k'].mean()

195.8726315789474