In [3]:
#import libraries
import pandas as pd

## import and explore census data to figure out which columns to keep

In [4]:
pop_df = pd.read_csv('./data/PEP_2017_PEPAGESEX.csv', skiprows=1)

## subset out required columns

In [5]:
#isolate all the columns from the dataframe
pop_cols = pop_df.columns

#make a mask to pick out all the 'April estimate' values using regexes
april_mask = pop_cols.str.contains('April.*?estimate', case=False)

#subset out everything but all the April estimate values
noest = pop_cols[~april_mask]
print(noest)

Index(['Id', 'Id2', 'Geography', 'April 1, 2010 - Census - Both Sexes; Total',
       'April 1, 2010 - Census - Male; Total',
       'April 1, 2010 - Census - Female; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Male; Total',
       'Population Estimate (as of July 1) - 2010 - Female; Total',
       'Population Estimate (as of July 1) - 2011 - Both Sexes; Total',
       ...
       'Population Estimate (as of July 1) - 2014 - Females; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Female; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Female; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Female; Median age (years)'],
      dtype='object', length=894)

In [6]:
#pick out all the old people using a regex
old_mask = noest.str.contains('July.*?201[047].*?Both.*?[5-9][0-9] to|July.*?201[047].*?Both.*?Total.*?85 years and')

#subset out all old people
old_people_columns = noest[old_mask]
old_people_columns

Index(['Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over'],
      dtype='object')

In [7]:
#write a regex that pulls out all of the other stuff we need and subset
odd_mask = noest.str.contains('Geography|July.*?201[047].*?Both.*?Total$|July.*?201[047].*?both.*?median', case=False)
misc_columns = noest[odd_mask]

In [8]:
#convert to lists (so we can combine the series we made) and combine them into one data structure
req_cols = list(misc_columns) + list(old_people_columns)

In [10]:
#subset df by the data structure we created
subset_pop_df = pop_df.loc[:,req_cols]
subset_pop_df.shape

(95, 31)

## rename columns

In [12]:
subset_pop_df.columns
new_col_lables = ['county', 'pop2010all', 'pop2014all', 'pop2017all', 'median_age_2010', 'median_age_2014', 'median_age_2017', 'pop2010_50to54','pop2014_50to54', 'pop2017_50to54', 'pop2010_55to59', 'pop2014_55to59', 'pop2017_55to59', 'pop2010_60to64', 'pop2014_60to64', 'pop2017_60to64',
    'pop2010_65to69', 'pop2014_65to69', 'pop2017_65to69', 'pop2010_70to74', 'pop2014_70to74', 'pop2017_70to74', 'pop2010_75to79', 'pop2014_75to79', 'pop2017_75to79', 'pop2010_80to84', 'pop2014_80to84', 'pop2017_80to84',
    'pop2010_85over', 'pop2014_85over', 'pop2017_85over']

subset_pop_df.columns = new_col_lables
subset_pop_df.head()

,county,pop2010all,pop2014all,pop2017all,median_age_2010,median_age_2014,median_age_2017,pop2010_50to54,pop2014_50to54,pop2017_50to54,...,pop2017_70to74,pop2010_75to79,pop2014_75to79,pop2017_75to79,pop2010_80to84,pop2014_80to84,pop2017_80to84,pop2010_85over,pop2014_85over,pop2017_85over
0,"Anderson County, Tennessee",75112,75131,76257,42.6,43.3,43.2,5850,5690,5296,...,3765,2276,2327,2501,1969,1779,1785,2135,2211,2173
1,"Bedford County, Tennessee",45086,46259,48117,36.5,37.2,37.5,3043,3207,3239,...,1988,992,1156,1321,756,729,811,647,679,640
2,"Benton County, Tennessee",16511,16176,15986,45.6,46.7,47.4,1259,1204,1179,...,1075,562,681,717,414,399,418,362,409,415
3,"Bledsoe County, Tennessee",12882,14419,14717,42.5,43.3,43.9,1005,1216,1185,...,732,344,421,510,234,275,267,178,209,264
4,"Blount County, Tennessee",123213,125827,129929,41.5,43.1,43.8,9152,9658,9522,...,6808,3468,4074,4663,2550,2591,2939,2390,2656,2786